.infinite-scroll-wrapper {
  display: inline-flex;
}

.infinite-scroll-list {
  list-style: none;
  display: flex;

  li {
    margin: 1.5rem;


    p {
      color: white;
      font-weight: bold;
      margin: 0.3rem;
    }

    img {
      width: 200px;
      height: 300px;
    }
  }
}


