.infinite-scroll-wrapper {
  display: flex;
  overflow: hidden;
}

.infinite-scroll-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  li {
    margin: 1.5rem;
    border-radius: 20px;

    p {
      color: white;
      font-weight: bold;
      margin: 0.3rem;
    }

    img {
      border: 2px solid transparent;
      border-radius: 20px;
      width: 200px;
      height: 300px;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }


    &.active {
      p {
        text-decoration: underline;
      }

      img {
        border: 2px solid white;
      }
    }

    &.item-show {
    }

    &.item-hidden {
      display: none;
    }
  }
}


