.infinite-scroll-wrapper {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 1rem;
  margin: 4rem auto;
}

.infinite-scroll-list {
  list-style: none;
  display: inline-flex;
  width: 100%;

  li {
    margin: 1.5rem;
    border-radius: 20px;

    p {
      color: white;
      font-weight: bold;
      margin: 0.3rem;
    }

    img {
      border: 2px solid transparent;
      border-radius: 20px;
      width: 200px;
      height: 300px;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }


    &.item-current {
      transition: 0.6s ease;
      transform: scale(1.1);

      p {
        text-decoration: underline;
      }

      img {
        border: 2px solid white;
      }
    }

    &.item-show {
    }

    &.item-show:after {
      transform: translate(-300px, 30px);
    }

    &.item-closed {
      display: none;
    }
  }
}


